attr==0.3.2
ConfigParser==7.2.0
cryptography==46.0.5
docutils==0.18.1
docutils==0.18.1
filelock==3.25.2
HTMLParser==0.0.2
ipython==8.12.3
ipywidgets==7.8.1
keyring==24.3.1
numpy==2.4.1
Pillow==12.1.1
protobuf==4.25.3
PyOpenGL==3.1.10
PyOpenGL_accelerate==3.1.10
redis==7.4.0
thread==2.0.6
urllib3_secure_extra==0.1.0
